ENVIRONMENT=development
GTFS_RT_VEHICLE_URL=https://bustime.ttc.ca/gtfsrt/vehicles
GTFS_RT_TRIP_URL=https://bustime.ttc.ca/gtfsrt/trips
GTFS_RT_ALERT_URL=https://bustime.ttc.ca/gtfsrt/alerts
STATIC_GTFS_URL=https://data.urbandatacentre.ca/dataset/7795de18-3f0d-4230-a728-02abca0ecf23/resource/c7c9f7e1-f5f5-4c81-9d1f-b59e9f640808/download/ttc-subway-streetcar-bus-schedules-and-routes.zip
POLL_INTERVAL_SECONDS=30
DATABASE_URL=postgresql://...
